<!DOCTYPE html>
<html lang="fr">
<head>
  <%- include('./partials/head2', { title: 'Users' }); %>

  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>

  


  <div class="header">
      <a href="https://www.institut-grasset.qc.ca"><img src="images/IGR_logo_blac.jpg" alt="Present Free HTML5 Bootstrap Template"></a>
      
      <div class="header-right">
          <nav class="header-right">
              <div class="container-fluid">
                  
                <ul class="nav navbar-nav">  
                  <li class="dropdown"><a  class="active"class="dropdown-toggle" data-toggle="dropdown" href="#">Liste <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a   href="admin-lise_admins">Les admins </a></li>
                      <li><a class="active"  href="admin-lise_Ensg">Les ensiegnants</a></li>
                      <li><a  href="admin-lise_Etud">Tous les Etudiants</a></li>
                      <li><a  href="admin-lise_EtudATT">Les etudiants en attente </a></li>
                    </ul>
                  </li>
                  <li class="dropdown"><a  href="#" class="dropdown-toggle" data-toggle="dropdown" href="#">Profil <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><a  href="Modifier-profil2.html">Modifier profile</a></li>
                        <li><a href="Modifier-profil2-changer-pass.html">Changer le mot de passe </a></li>
                        <li><a href="">Desactiver le compte</a></li>
                      </ul>
                    </li> 
                    <li><form method="post" action="/logout" ><button class="button2" type="submit">D&eacute;connexion</button></form></li>  
                  </ul>
              </div>
            </nav>
      </div>
    </div>



  <!-- END #fh5co-header -->
  <div class="page-content2">

      <h1 class="no-margin">Liste des ensiegnants</h1>

      <h2 class="h4 is-gray is-normal is-sans-serif"> Promotion Été 2022</h2>
          

    </div>
    <input type="text" id="myInput"  onkeyup="myFunction()"  placeholder="Search for names..">

    <table id="myTable" >
      <tr class="header">
        <th style="width:60%;">Nom</th>
        <th style="width:60%;">prenom</th>
        <th style="width:60%;">NE</th>
        <th style="width:40%;"> <i class="fa fa-trash"></i> <a  href="register-enseignant.html">+ Ajouter ensiegnant</a> </th>

        
      </tr>
      <% for(i=0; i<resultat.length; i++) { %>
      <tr>
        <td><%= resultat[i].professor_name %></td>
        <td><%= resultat[i].professor_surname %></td>
        <td><%= resultat[i].employee_number %></td>
        
        
                  
        <td ><input type="button" class="btn" value="Supprimer" onclick="supprimer('<%= resultat[i].employee_number %>')"></td>
     </tr>
    
  
      <% } %>
        



          
      
    </table>


  
  
<!-- jQuery -->
<script src="javascripts/js/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="javascripts/js/bootstrap.min.js"></script>
<!-- masonry -->
<script src="javascripts/js/jquery.masonry.min.js"></script>
<!-- MAIN JS -->
<script src="javascripts/js/main.js"></script>
<script>
  function myFunction() {
    // Declare variables
    var input, filter, table, tr, td, i, txtValue;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    table = document.getElementById("myTable");
    tr = table.getElementsByTagName("tr");
  
    // Loop through all table rows, and hide those who don't match the search query
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[0];
      if (td) {
        txtValue = td.textContent || td.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }
    }
  }
  
  function supprimer(id) {

let pointFinal = "admin-lise_Ensg/" + id
fetch(
  pointFinal, {method : "DELETE"}
).then(
  (reponse)=> reponse.json()
).then(
  (donnee)=> window.location.href = donnee.routeRacine
).catch((erreur)=> console.log(erreur))

}
function fConfirmatoion() {
  let text = "Press a button!\nEither OK or Cancel.";
  if (confirm(text) == true) {
    text = "You pressed OK!";
  } else {
    text = "You canceled!";
  }
  document.getElementById("demo").innerHTML = text;
}
  </script>

</body>

  <!-- END .container-fluid -->

  <footer id="fh5co-footer" role="contentinfo" >
    <div class="container-fluid">
      <div class="footer-content">
        <div class="copyright"><small><br>institut@grasset.qc.ca <br>220, Fairmount Ouest Montréal (Québec) H2T 2M7</div>
        
        <br> &copy;2022 Present. All Rights Reserved. </a></small>
      </div>
    </div>
  </footer>

<!-- END #fh5co-footer -->
<script src="javascripts/style.js" type="text/javascript"></script>
</html>