<!DOCTYPE html>
<html lang="fr">
  <head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Portfolio grasset</title>
	<meta name="description" content="Unika - Responsive One Page HTML5 Template">
	<meta name="keywords" content="HTML5, Bootsrtrap, One Page, Responsive, Template, Portfolio" />
	<meta name="author" content="imransdesign.com">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title><%= typeof title != 'undefined' ? title : 'Système Portfolio' %></title>
	<font-awesome-icon icon="fa-brands fa-artstation" />
   <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,500' rel='stylesheet' type='text/css'> <!-- Body font -->
   <link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'> <!-- Navbar font -->
  
    <link rel="stylesheet" href="/stylesheets/css2/inc/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/css2/inc/animations/css/animate.min.css">
    <link rel="stylesheet" href="/stylesheets/css2/inc/font-awesome/css/font-awesome.min.css"> <!-- Font Icons -->
    <link rel="stylesheet" href="/stylesheets/css2/inc/owl-carousel/css/owl.carousel.css">
    <link rel="stylesheet" href="/stylesheets/css2/inc/owl-carousel/css/owl.theme.css">
    <link rel="stylesheet" href="/stylesheets/css2/reset.css">
    <link rel="stylesheet" href="/stylesheets/css2/style.css">
    <link rel="stylesheet" href="/stylesheets/css2/mobile.css"> 



	<link rel="stylesheet" href="/stylesheets/css/style.css">
	
	<link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" href="/stylesheets/css2/skin/cool-gray.css">
	
  </head>

  
  <body>

	<header id="fh5co-header" role="banner">
		<div id="fh5co-logo">
			<a href="https://www.institut-grasset.qc.ca"><img src="/img/IGR_logo_blac.jpg" alt="Present Free HTML5 Bootstrap Template"></a>
			
			<div class="header-right">
	
	
				<nav class="header-right">
					<div class="container-fluid">
						<div class="navbar-header">
						</div>
						<ul class="nav navbar-nav">  
							<li class="dropdown"><a class="active" href="#" class="dropdown-toggle" data-toggle="dropdown" href="#">Programmes <span class="caret"></span></a>
						<ul class="dropdown-menu">
									<li id="menu-item-1444" class="menu-item menu-item-type-post_type_archive menu-item-object-programmes current-menu-item menu-item-1444"><a href="https://www.institut-grasset.qc.ca/programmes/" aria-current="page">Tous les programmes</a></li>
									<li id="menu-item-1414" class="menu-item menu-item-type-post_type menu-item-object-programmes menu-item-1414"><a href="https://www.institut-grasset.qc.ca/programmes/aec-specialiste-en-realite-virtuelle-et-augmentee-ntl-1k/">Spécialiste en réalité virtuelle et augmentée</a></li>
									<li id="menu-item-1415" class="menu-item menu-item-type-post_type menu-item-object-programmes menu-item-1415"><a href="https://www.institut-grasset.qc.ca/programmes/dec-en-techniques-de-production-et-de-postproduction-televisuelles-589-ab/">Techniques de production et de postproduction télévisuelles</a></li>
									<li id="menu-item-1416" class="menu-item menu-item-type-post_type menu-item-object-programmes menu-item-1416"><a href="https://www.institut-grasset.qc.ca/programmes/aec-en-composition-et-effets-speciaux-pour-video-numerique-nwy-16/">Composition et effets spéciaux pour vidéo numérique</a></li>
									<li id="menu-item-1417" class="menu-item menu-item-type-post_type menu-item-object-programmes menu-item-1417"><a href="https://www.institut-grasset.qc.ca/programmes/aec-en-techniques-de-montage-et-dhabillage-infographique-nwy-00/">Techniques de montage et d’habillage infographique</a></li>
									<li id="menu-item-1418" class="menu-item menu-item-type-post_type menu-item-object-programmes menu-item-1418"><a href="https://www.institut-grasset.qc.ca/programmes/aec-en-production-televisuelle-et-cinematographique-nwy-15/">Production télévisuelle et cinématographique</a></li>
									<li id="menu-item-1419" class="menu-item menu-item-type-post_type menu-item-object-programmes menu-item-1419"><a href="https://www.institut-grasset.qc.ca/programmes/dec-en-techniques-de-linformatique-profil-programmation-nouveaux-medias-420-b0/">Techniques de l’informatique profil programmation nouveaux médias</a></li>
									<li id="menu-item-1420" class="menu-item menu-item-type-post_type menu-item-object-programmes menu-item-1420"><a href="https://www.institut-grasset.qc.ca/programmes/aec-en-production-multimedia-profil-web-et-medias-sociaux-nwe-1a/">Production multimédia, profil web et médias sociaux</a></li>
									<li id="menu-item-1421" class="menu-item menu-item-type-post_type menu-item-object-programmes menu-item-1421"><a href="https://www.institut-grasset.qc.ca/?post_type=programmes&amp;p=424">BIM pour l’estimation en construction</a></li>
									<li id="menu-item-1422" class="menu-item menu-item-type-post_type menu-item-object-programmes menu-item-1422"><a href="https://www.institut-grasset.qc.ca/programmes/aec-en-techniques-dinspection-en-batiment-eec-13/">Techniques d’inspection en bâtiment</a></li>
									<li id="menu-item-1423" class="menu-item menu-item-type-post_type menu-item-object-programmes menu-item-1423"><a href="https://www.institut-grasset.qc.ca/programmes/dec-en-technologie-de-lestimation-et-de-levaluation-en-batiment-voie-de-specialisation-en-estimation-en-construction-221-da/">Technologie de l’estimation et de l’évaluation en bâtiment, spécialisation en estimation en construction</a></li>
									<li id="menu-item-1424" class="menu-item menu-item-type-post_type menu-item-object-programmes menu-item-1424"><a href="https://www.institut-grasset.qc.ca/programmes/technologie-de-lestimation-et-de-levaluation-en-batiment-voie-de-specialisation-en-evaluation-immobiliere/">Technologie de l’estimation et de l’évaluation en bâtiment, spécialisation en évaluation immobilière</a></li>
									<li id="menu-item-1426" class="menu-item menu-item-type-post_type menu-item-object-programmes menu-item-1426"><a href="https://www.institut-grasset.qc.ca/programmes/techniques-danimation-3d-et-de-synthese-dimages/">Techniques d’animation 3D et de synthèse d’images</a></li>
									<li id="menu-item-1427" class="menu-item menu-item-type-post_type menu-item-object-programmes menu-item-1427"><a href="https://www.institut-grasset.qc.ca/programmes/production-3d-pour-jeux-video/">Production 3D pour jeux vidéo</a></li>
								
						</ul>
						</li>
						
						<li class="dropdown"><a class="active" href="#" class="dropdown-toggle" data-toggle="dropdown" href="#">Formation en entreprise <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li id="menu-item-1474" class="menu-item menu-item-type-post_type_archive menu-item-object-formations menu-item-1474"><a href="https://www.institut-grasset.qc.ca/formations/">Voir tous les types de formations</a></li>
									<li id="menu-item-2451" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2451"><a href="https://www.institut-grasset.qc.ca/type-formation/batiment/">Bâtiment</a></li>
									<li id="menu-item-2452" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2452"><a href="https://www.institut-grasset.qc.ca/type-formation/television/">Cinéma et télévision</a></li>
									<li id="menu-item-1467" class="menu-item menu-item-type-taxonomy menu-item-object-type-formation menu-item-1467"><a href="https://www.institut-grasset.qc.ca/type-formation/site-web-et-applications-mobiles/">Web et applications mobiles</a></li>
									<li id="menu-item-1468" class="menu-item menu-item-type-taxonomy menu-item-object-type-formation menu-item-1468"><a href="https://www.institut-grasset.qc.ca/type-formation/bureautique-et-teletravail/">Télétravail et bureautique</a></li>
									<li id="menu-item-1469" class="menu-item menu-item-type-taxonomy menu-item-object-type-formation menu-item-1469"><a href="https://www.institut-grasset.qc.ca/type-formation/effets-visuels/">VFX et animation</a></li>
									<li id="menu-item-1470" class="menu-item menu-item-type-taxonomy menu-item-object-type-formation menu-item-1470"><a href="https://www.institut-grasset.qc.ca/type-formation/medias-sociaux/">Médias sociaux</a></li>
									<li id="menu-item-1471" class="menu-item menu-item-type-taxonomy menu-item-object-type-formation menu-item-1471"><a href="https://www.institut-grasset.qc.ca/type-formation/modelisation-3d/">Animation 3D</a></li>
									
							</ul>
						</li>
						<li><a href="portfolio-vistuer">Portfolio</a></li>
						<li><a href="https://www.institut-grasset.qc.ca/a-propos/">À propos</a></li>
						<li><a href="https://www.institut-grasset.qc.ca/employeurs-et-stages/">Employeurs et stages</a></li>
						<li><a href="https://www.institut-grasset.qc.ca/admission/">Admission</a></li> 
						</ul>
					</div>
					</nav>
				</div>
		
		</div>
		<div class="container text-center">
			<div id="fh5co-logo">
				<a href="#"><img src="/img/logo-portfolio.png" alt="Present Free HTML5 Bootstrap Template"></a>
			</div>
		
		</div>
	</header>
 
	

	 

		<div class="grid-child purple">
			<div class="page-content">
			<div class="myDiv"  >
			<h1 class="no-margin"><%= resultat[0].student_name %> <%= resultat[0].student_surname %></h1>
			<p><img src="/<%= resultat[0].student_photo %>" style="left: 70px ;  width:300px;border-radius: 70%;" class="responsive"></p> 
			<p><%= resultat.student_biography %> </p>
			<p>Contactez moi sur : </p>
			<p>Email : <%= resultat[0].student_email %></p>
			<p>Num&eacute;ro de t&eacute;lephone : <%= resultat[0].student_telephone %> </p>
			<% if(resultat[0].student_employe_intern_status == 1){ %>
				<p style="color: rgb(255, 0, 0);">Je suis a la Recherche d'un emploi  </p>
				<% } else{ %>  
				<p> </p>
				<% } %>	
		</div>
		
		</div>
	</div>


		<div class="grid-child green">
			<div class="page-content">
				<div class="myDiv"  >
			<div class="meta"><span>Nome du projet</span></div>
			 
			<h1 class="mb0"><%= resultat[0].project_name %></h1><br>
			<p>Description du projet : <br> <br><%= resultat[0].project_description %>
				</p>
			<a href=<%= resultat[0].project_url %>>Lier vers le video complet : <%= resultat[0].project_url %></a>
			
		 
			<p> <br><img src="<%= resultat[0].file_path %>" alt="portfolio"></p> 
			<p><%= resultat[0].file_path %></p>

				</div>
			
	
		</div>
	</div>
	
	 

<div class="container-fluid">
	<div id="fh5co-projects-feed" class="fh5co-projects-feed clearfix masonry">
		
		<% for(i=0; i<resultat.length; i++) { %>
		<div class="fh5co-project masonry-brick">
			
				<img src="/images/file4.png" width="150px" alt="portfolio"> 
				<h5><a href="/Elemnt_portfolio/<%= resultat[i].project_id%>"></i> <%= resultat[i].project_name%></a></h5>
			
		</div>
		<% } %>
   
 
		 
	</div>
	<!--END .fh5co-projects-feed-->
</div>

<!-- jQuery -->
<script src="/javascripts/js/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="/javascripts/js/bootstrap.min.js"></script>
<!-- masonry -->
<script src="/javascripts/js/jquery.masonry.min.js"></script>
<!-- MAIN JS -->
<script src="/javascripts/js/main.js"></script>
<script src="/javascripts/js/modernizr-2.6.2.min.js"></script> 
</body>
  <footer>
    <%- include('./partials/footer2'); %>
  </footer>


<script src="/javascripts/style.js" type="text/javascript"></script>
</html>
